{
    "department": "LAB",
    "idxPath": "./data/idx/",
    "pdfPath": "./data/pdf/",
    "txtPath": "./data/txt/",
    "backupTxtPath": "./data/backup-txt/",
    "backupPath": "./data/backup/",
    "manualPath": "./data/manuell/",
    "stampPath": "./data/stamp/",
    "logsPath": "./logs/",
    "patterns": [
        {
            key: "pattern_01",
            value: ["pattern_01_Merkmal_01","pattern_01_Merkmal_02","pattern_01_Merkmal_03","pattern_01_Merkmal_04","pattern_01_Merkmal_05"],
            gt: 4
        },
        {
            key: "pattern_02",
            value: ["pattern_02_Merkmal_01","pattern_02_Merkmal_02","pattern_02_Merkmal_03","pattern_02_Merkmal_04","pattern_02_Merkmal_05"],
            gt: 2
        }

    ],
    "docTypes": [
        {
            key: "docType_01",
            value: ["docType_01_Merkmal_01","docType_01_Merkmal_02","docType_01_Merkmal_03","docType_01_Merkmal_04","docType_01_Merkmal_05"]
        },
        {
            key: "docType_02",
            value: ["docType_02_Merkmal_01","docType_02_Merkmal_02","docType_02_Merkmal_03","docType_02_Merkmal_04","docType_02_Merkmal_05"]
        }
    ]
}