{
    "department": "LAB",
    "idxPath": "./data/idx/",
    "pdfPath": "./data/pdf/",
    "txtPath": "./data/txt/",
    "backupTxtPath": "./data/backup-txt/",
    "backupPdfPath": "./data/backup-pdf/",
    "manualPath": "./data/manuell/",
    "stampPath": "./data/stamp/",
    "logsPath": "./logs/",
    "iterateThrough": "pdf",
    "pdfFileExtension": ".pdf",
    "idxFileExtension": ".idx",
    "txtFileExtension": ".txt",
    "okfileExtension": ".ok",
    "docTypes": [
        {
            topic: "docType_01",
            pattern: ["pattern_01_Merkmal_01","pattern_01_Merkmal_02","pattern_01_Merkmal_03","pattern_01_Merkmal_04"],
            category: ["mainDocType_1","subDocType_1"],
            gt: 4
        },
        {
            topic: "docType_02",
            pattern: ["pattern_02_Merkmal_01","pattern_02_Merkmal_02","pattern_02_Merkmal_03","pattern_02_Merkmal_04"],
            category: ["mainDocType_2","subDocType_2"],
            gt: 2
        }
    ]
}